body{
	background-color: lightgrey;

font-family: sans-serif;

    
	
}
.back
{
	
	width: 25%;
	height: 500px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	text-align: center; 
	padding: 20px;
	border-radius: 5%;
	
	


}
.logo
{
	width:50px;
	height: 50px;

	

}
img
{

	width:300px;
	height:300px;
	border-radius: 5%;
	margin-right: auto;
	margin-left: auto;

	
	
}
h2
{
	font-weight: bold;
	color: #242545;
}
h4
{
	color: grey;
	font-weight: lighter;
}
.devlop
{
	font-size: 10px;
}
span
{
	color: black;
	font-weight: bold;
}
@media only screen and (max-width: 1020px)
{

		.back
		{
			width:300px;
			height: 500px;
		}
}